/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
body {
  position: relative;
  color: white;
  height: 100vh;
  background: linear-gradient(
    200.96deg,
    #242424 -29.09%,
    #464646 51.77%,
    #8a8a8a 129.35%
  );
  font-family: sans-serif;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
}

.GenreSelection {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6, 2fr);
  grid-template-rows: repeat(2, 2fr);
}

input[type='checkbox'] {
  width: 3rem;
}
